{% extends 'base.html' %}

{% block title %}Device{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-4">
                <div class="location-container">
                    <div class="form-group">
                        <label for="new_user">User:</label>
                        <input type="text" id="new_user" name="new_user" value="{{ username }}" class="form-control" placeholder="No user set">
                    </div>
                    <button onclick="setUser('{{ connection['connection_id'] }}', new_user)" class="btn btn-primary">Update user</button>
                    <button onclick='pySend("{{ connection["connection_id"] }}")' class="btn btn-primary">Send Msg</button>
                </div>
            </div>-->
            <div class="col-md-4">
                <div class="options-container">
                    <label>Select connected sensors:</label><br />
                    <ul class="sensor-list">
                        <li>
                            <input type="checkbox" id="luminosity_sensor" name="luminosity_sensor">
                            <label for="luminosity_sensor">TSL2561 Luminosity Sensor</label>
                        </li>
                        <li>
                            <input type="checkbox" id="temperature_sensor" name="temperature_sensor">
                            <label for="temperature_sensor">DHT22 Temperature, Humidity Sensor</label>
                        </li>
                        <li>
                            <input type="checkbox" id="pressure_sensor" name="pressure_sensor">
                            <label for="pressure_sensor">HW-61 Pressure, Temperature Sensor</label>
                        </li>
                    </ul>
                    <button class="btn btn-primary" onclick='setConnectedSensors("{{ connection["connection_id"] }}")'>Submit</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="options-container">
                    <div class="form-group">
                        <label for="new_location">Location:</label>
                        <input type="text" id="new_location" name="new_location" value="{{ location }}" class="form-control" placeholder="No location set">
                    </div>
                    <button onclick="setLocation('{{ connection['connection_id'] }}', new_location)" class="btn btn-primary">Update location</button>
                </div>
            </div>
        </div>

        <div class="charts-container">
            <div class="chart">
                <canvas id="tempChart"></canvas>
            </div>

            <div class="chart">
                <canvas id="humidityChart"></canvas>
            </div>

            <div class="chart">
                <canvas id="windChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function setConnectedSensors(connId) {
        const luminosityCheckbox = document.querySelector("#luminosity_sensor");

        const body = JSON.stringify({
            sensor_types: {
                luminosity_sensor: luminosityCheckbox.checked,
            }
        });
        fetch("/set-sensor-types/" + connId, {
            method: "POST",
            body: body
        });
    }

    function setLocation(connId, new_location) {
        const body = JSON.stringify({
            location: new_location.value,
        });
        fetch("/set-connection-location/" + connId, {
            method: "POST",
            body: body
        });
    }

    function setUser(connId, new_user) {
        const body = JSON.stringify({
            user: new_user.value,
        });
        fetch("/set-connection-user/" + connId, {
            method: "POST",
            body: body
        });
    }

    function getRandomInt(max) {
        return Math.floor(Math.random() * max)
    }

    function pySend(connId) {
        const body = JSON.stringify({
            connection_id: connId,
            temp: getRandomInt(30),
            humidity: getRandomInt(100),
            wind: getRandomInt(50),
        });
        fetch("/send-message", {
            method: "POST",
            body: body
        });
    }

    function timestampsToDates(timestamps) {
        const today = new Date().toDateString();
        for(let i = 0; i < timestamps.length; i++) {
            const date = new Date(Date.parse(timestamps[i]));
            stringDate = date.getHours() + ":" + date.getMinutes();
            if(date.toDateString() !== today) {
                stringDate = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + " " + stringDate;
            }
            timestamps[i] = stringDate;
        }
    }

    function getChartOptionsWithMeasurementUnit(label) {
        return {
            scales: {
                y: {
                    beginAtZero: false,
                    ticks: {
                        callback: function(value, index, ticks) {
                            return value + label;
                        },
                    },
                },
            },
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                tooltip: {
                    callbacks: {
                        label: (item) => `${item.dataset.label}: ${item.formattedValue}${label}`,
                    },
                },
            },
        }
    }

    const tempChart = document.getElementById('tempChart');
    const humidityChart = document.getElementById('humidityChart');
    const windChart = document.getElementById('windChart');

    const tempValues = Object.values({{ temp_array | safe }});
    const tempTimestamps = Object.keys({{ temp_array | safe }});

    const humidityValues = Object.values({{ humidity_array | safe }});
    const humidityTimestamps = Object.keys({{ humidity_array | safe }});

    const windValues = Object.values({{ wind_array | safe }});
    const windTimestamps = Object.keys({{ wind_array | safe }});

    timestampsToDates(tempTimestamps);
    timestampsToDates(humidityTimestamps);
    timestampsToDates(windTimestamps);

    const tempData = {
        labels: tempTimestamps,
        datasets: [{
            label: 'Temperature',
            data: tempValues,
            borderWidth: 1,
            borderColor: 'red'
        }]
    };
    const humidityData = {
        labels: humidityTimestamps,
        datasets: [{
            label: 'Humidity',
            data: humidityValues,
            borderWidth: 1,
            borderColor: 'red'
        }]
    };
    const windData = {
        labels: windTimestamps,
        datasets: [{
            label: 'Wind Speed',
            data: windValues,
            borderWidth: 1,
            borderColor: 'red'
        }]
    };

    const tempOptions = getChartOptionsWithMeasurementUnit('°C')
    const humidityOptions = getChartOptionsWithMeasurementUnit('%')
    const windOptions = getChartOptionsWithMeasurementUnit(' km/h')

    new Chart(tempChart, {
        type: 'line',
        data: tempData,
        options: tempOptions,
    });
    new Chart(humidityChart, {
        type: 'line',
        data: humidityData,
        options: humidityOptions,
    });
    new Chart(windChart, {
        type: 'line',
        data: windData,
        options: windOptions,
    });
</script>
{% endblock %}