{% extends 'base.html' %}

{% block title %}Devices{% endblock %}

{% block content %}
    <p>You have {{ labels | length }} device{% if labels | length == 0 or labels | length > 1 %}s{% endif %} connected{% if labels | length == 0 %}.{% else %}:{% endif %}</p>
    {% if labels | length > 0 %}
        {% for i in range(labels | length) %}
            <a href="/devices/{{ connectionIds[i] }}">{{ labels[i] }}</a>
        {% endfor %}
    {% endif %}

    <p>{{ invitation }}</p>
{% endblock %}

{% block script %}
    <script>
    function sendMessageToConnection(conn_id) {
        fetch("http://0.0.0.0:8021/connections/" + conn_id + "/send-message", {
            method: "POST",
            body: JSON.stringify({
                content: "ARO"
            })
        });
    }

    function showAlert(conn_id) {
        alert(conn_id)
    }
    </script>
{% endblock %}